<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gabuchan.androidrecipe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    
    <!-- For Visualizer -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".recipe048.SplashActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".recipe016.Recipe016Activity"
            android:label="@string/recipe_016_title" />
        <activity
            android:name=".recipe017.Recipe017Activity"
            android:label="@string/recipe_017_title" />
        <activity
            android:name=".recipe018.Recipe018Activity"
            android:label="@string/recipe_018_title" />
        <activity
            android:name=".recipe019.Recipe019Activity"
            android:label="@string/recipe_019_title" />
        <activity
            android:name=".recipe020.Recipe020Activity"
            android:label="@string/recipe_020_title" />
        <activity
            android:name=".recipe021.Recipe021Activity"
            android:label="@string/recipe_021_title" />
        <activity
            android:name=".recipe022.Recipe022Activity"
            android:label="@string/recipe_022_title" />
        <activity
            android:name=".recipe023.Recipe023Activity"
            android:label="@string/recipe_023_title" />
        <activity
            android:name=".recipe024.Recipe024Activity"
            android:label="@string/recipe_024_title" />
        <activity
            android:name=".recipe025.Recipe025Activity"
            android:label="@string/recipe_025_title" />
        <activity
            android:name=".recipe026.Recipe026Activity"
            android:label="@string/recipe_026_title" />
        <activity
            android:name=".recipe027.Recipe027Activity"
            android:label="@string/recipe_027_title" />
        <activity
            android:name=".recipe028.Recipe028Activity"
            android:label="@string/recipe_028_title" />
        <activity
            android:name=".recipe029.Recipe029Activity"
            android:label="@string/recipe_029_title" />
        <activity
            android:name=".recipe030.Recipe030Activity"
            android:label="@string/recipe_030_title" />
        <activity
            android:name=".recipe031.Recipe031Activity"
            android:label="@string/recipe_031_title" />
        <activity
            android:name=".recipe032.Recipe032Activity"
            android:label="@string/recipe_032_title" />
        <activity
            android:name=".recipe033.Recipe033Activity"
            android:label="@string/recipe_033_title" />
        <activity
            android:name=".recipe034.Recipe034Activity"
            android:label="@string/recipe_034_title" />
        <activity
            android:name=".recipe035.Recipe035Activity"
            android:label="@string/recipe_035_title"
            android:launchMode="singleTask" />
        <activity
            android:name=".recipe036.Recipe036Activity"
            android:label="@string/recipe_036_title" />
        <activity
            android:name=".recipe037.Recipe037Activity"
            android:label="@string/recipe_037_title" />
        <activity
            android:name=".recipe038.Recipe038Activity"
            android:label="@string/recipe_038_title" />
        <activity
            android:name=".recipe039.Recipe039Activity"
            android:label="@string/recipe_039_title" />
        <activity
            android:name=".recipe040.Recipe040Activity"
            android:label="@string/recipe_040_title" />
        <activity
            android:name=".recipe041.Recipe041Activity"
            android:label="@string/recipe_041_title" />
        <activity
            android:name=".recipe042.Recipe042Activity"
            android:label="@string/recipe_042_title" />
        <activity
            android:name=".recipe043.Recipe043Activity"
            android:label="@string/recipe_043_title" />
        <activity
            android:name=".recipe044.Recipe044Activity"
            android:label="@string/recipe_044_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recipe045.Recipe045Activity"
            android:label="@string/recipe_045_title" />
        <activity
            android:name=".recipe046.Recipe046Activity"
            android:label="@string/recipe_046_title" />
        <activity
            android:name=".recipe047.Recipe047Activity"
            android:label="@string/recipe_047_title" />
        <activity
            android:name=".recipe048.Recipe048Activity"
            android:label="@string/recipe_048_title" />
        <activity
            android:name=".recipe049.Recipe049Activity"
            android:label="@string/recipe_049_title" />
        <activity
            android:name=".recipe050.Recipe050Activity"
            android:label="@string/recipe_050_title" />
        <activity
            android:name=".recipe051.Recipe051Activity"
            android:label="@string/recipe_051_title" />
        <activity
            android:name=".recipe052.Recipe052Activity"
            android:label="@string/recipe_052_title" />
        <activity
            android:name=".recipe053.Recipe053Activity"
            android:label="@string/recipe_053_title" />
        <activity
            android:name=".recipe054.Recipe054Activity"
            android:label="@string/recipe_054_title" />
        <activity
            android:name=".recipe056.Recipe056Activity"
            android:label="@string/recipe_056_title" />
        <activity
            android:name=".recipe057.Recipe057Activity"
            android:label="@string/recipe_057_title" />
        <activity
            android:name=".recipe058.Recipe058Activity"
            android:label="@string/recipe_058_title" />
        <activity
            android:name=".recipe059.Recipe059Activity"
            android:label="@string/recipe_059_title" />
        <activity
            android:name=".recipe060.Recipe060Activity"
            android:label="@string/recipe_060_title" />
        <activity
            android:name=".recipe061.Recipe061Activity"
            android:label="@string/recipe_061_title" />
        <activity
            android:name=".recipe062.Recipe062Activity"
            android:label="@string/recipe_062_title" />
        <activity
            android:name=".recipe063.Recipe063Activity"
            android:label="@string/recipe_063_title" />
        <activity
            android:name=".recipe064.Recipe064Activity"
            android:label="@string/recipe_064_title" />
        <activity
            android:name=".recipe065.Recipe065Activity"
            android:label="@string/recipe_065_title" />
        <activity
            android:name=".recipe066.Recipe066Activity"
            android:label="@string/recipe_066_title" />
        <activity
            android:name=".recipe067.Recipe067Activity"
            android:label="@string/recipe_067_title" />
        <activity
            android:name=".recipe068.Recipe068Activity"
            android:label="@string/recipe_068_title" />
        <activity
            android:name=".recipe069.Recipe069Activity"
            android:label="@string/recipe_069_title" />
        <activity
            android:name=".recipe070.Recipe070Activity"
            android:label="@string/recipe_070_title" />
        <activity
            android:name=".recipe071.Recipe071Activity"
            android:label="@string/recipe_071_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".recipe072.Recipe072Activity"
            android:label="@string/recipe_072_title" />
        <activity
            android:name=".recipe073.Recipe073Activity"
            android:label="@string/recipe_073_title" />
        <activity
            android:name=".recipe074.Recipe074Activity"
            android:label="@string/recipe_074_title" />
        <activity
            android:name=".recipe075.Recipe075Activity"
            android:configChanges="orientation|screenSize"
            android:label="@string/recipe_075_title" />
        <activity
            android:name=".recipe076.Recipe076Activity"
            android:label="@string/recipe_076_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".recipe077.Recipe077Activity"
            android:label="@string/recipe_077_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".recipe078.Recipe078Activity"
            android:label="@string/recipe_078_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".recipe079.Recipe079Activity"
            android:label="@string/recipe_079_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".recipe080.Recipe080Activity"
            android:label="@string/recipe_080_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".recipe081.Recipe081Activity"
            android:label="@string/recipe_081_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".recipe082.Recipe082Activity"
            android:label="@string/recipe_082_title"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" />
        <activity
            android:name=".recipe083.Recipe083Activity"
            android:label="@string/recipe_083_title" />
        <activity
            android:name=".recipe084.Recipe084Activity"
            android:label="@string/recipe_084_title" />
        <activity
            android:name=".recipe085.Recipe085Activity"
            android:label="@string/recipe_085_title" />
        <activity
            android:name=".recipe086.Recipe086Activity"
            android:label="@string/recipe_086_title" />
        <activity
            android:name=".recipe087.Recipe087Activity"
            android:label="@string/recipe_087_title" />
        <activity
            android:name=".recipe088.Recipe088Activity"
            android:label="@string/recipe_088_title" />
        <activity
            android:name=".recipe089.Recipe089Activity"
            android:label="@string/recipe_089_title" />
        <activity
            android:name=".recipe090.Recipe090Activity"
            android:label="@string/recipe_090_title" />
        <activity
            android:name=".recipe101.Recipe101Activity"
            android:label="@string/recipe_101_title" />
        <activity
            android:name=".recipe102.Recipe102Activity"
            android:label="@string/recipe_102_title" />
    </application>

</manifest>