<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gabuchan.androidrecipe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recipe016.Recipe016Activity"
            android:label="@string/recipe_016_title" />
        <activity
            android:name=".recipe017.Recipe017Activity"
            android:label="@string/recipe_017_title" />
        <activity
            android:name=".recipe018.Recipe018Activity"
            android:label="@string/recipe_018_title" />
        <activity
            android:name=".recipe019.Recipe019Activity"
            android:label="@string/recipe_019_title" />
        <activity
            android:name=".recipe020.Recipe020Activity"
            android:label="@string/recipe_020_title" />
        <activity
            android:name=".recipe021.Recipe021Activity"
            android:label="@string/recipe_021_title" />
        <activity
            android:name=".recipe022.Recipe022Activity"
            android:label="@string/recipe_022_title" />
        <activity
            android:name=".recipe023.Recipe023Activity"
            android:label="@string/recipe_023_title" />
        <activity
            android:name=".recipe024.Recipe024Activity"
            android:label="@string/recipe_024_title" />
        <activity
            android:name=".recipe025.Recipe025Activity"
            android:label="@string/recipe_025_title" />
        <activity
            android:name=".recipe026.Recipe026Activity"
            android:label="@string/recipe_026_title" />
        <activity
            android:name=".recipe027.Recipe027Activity"
            android:label="@string/recipe_027_title" />
        <activity
            android:name=".recipe028.Recipe028Activity"
            android:label="@string/recipe_028_title" />
        <activity
            android:name=".recipe029.Recipe029Activity"
            android:label="@string/recipe_029_title" />
        <activity
            android:name=".recipe030.Recipe030Activity"
            android:label="@string/recipe_030_title" />
        <activity
            android:name=".recipe031.Recipe031Activity"
            android:label="@string/recipe_031_title" />
        <activity
            android:name=".recipe032.Recipe032Activity"
            android:label="@string/recipe_032_title" />
        <activity
            android:name=".recipe033.Recipe033Activity"
            android:label="@string/recipe_033_title" />
        <activity
            android:name=".recipe034.Recipe034Activity"
            android:label="@string/recipe_034_title" />
        <activity
            android:name=".recipe035.Recipe035Activity"
            android:label="@string/recipe_035_title"
            android:launchMode="singleTask" />
        <activity
            android:name=".recipe036.Recipe036Activity"
            android:label="@string/recipe_036_title" />
    </application>

</manifest>